node_modules/
.DS_Store
dist/
.idea/
.vscode/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.RESAUSE/
dist-data/
master_cache.json
assets/bundled_master_cache.json
scripts/*
!scripts/bundle_data.js
!scripts/extract_akashi_data.js
!scripts/extract_akashi_data_from_source.js

